body,
html {
    height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: 'Montserrat';
    background-color: #283746;
    position: relative;
    color: #e0e0e0;
    scroll-behavior: smooth;
}

.container{
    margin-top:20%;
    margin-left: 15%;
    width: 500px;
    height: 200px;
    border-radius: 50px;
    background: #283746;
    box-shadow:  20px 20px 60px #222f3c,
             -20px -20px 60px #2e3f51
    
}

#root {
    margin-left: 40%;
}

#demo{
    margin:auto;
}
